*{
  box-sizing: border-box;
}

form {
  width:100%;
  display:inline;

}

.field {
  width:10%;
  float:left;
  display:inline;
  border:10px;
}

.input{
  width:90%;
  float:left; 
  display:inline;
  border:10px;
}

.submitButton{
  width:30%;
  text-align:center;
}

